:root {
    --text: #000000;
    --background: #f2f2ed;
    --primary-button: #e5e5e5;
    --secondary-button: #ffffff;
    --accent: #304245;
    --accent2: #453042;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background);
}


/* Styl dla nawigacji */
ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
    background-color: var(--accent);
}

li {
    padding: 6px 0;
}

a {
    position: relative;
    display: block;
    padding: 4px 30px 4px 0;
    font-family: Lato, sans-serif;
    color: var(--secondary-button);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-button);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

a:hover {
    color: #ffffff;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.error {
    color: var(--accent);
}

.loading {
    color: gray;
}

.no-projects {
    color: blue;
}


.project-list {
    margin-top: 20px;
}

.project-table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 3rem;
}

.project-table th,
.project-table td {
    padding: 8px;
    border: 1px solid var(--accent);
}

.project-table th {
    background-color: var(--background);
    font-weight: bold;
}

.project-table tr:nth-child(even) {
    background-color: var(--background);
}

.project-table tr:hover {
    background-color: var(--background);
}

.project-table td {
    color: var(--text);
}

.section-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.section-buttons .button-add {
    background-color: var(--accent);
    color: var(--secondary-button);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}


.project-table a {
    text-decoration: none;
    color: inherit;
}

.project-table tbody tr:hover {
    cursor: pointer;
    background-color: #efefeb;
}

.th-settings {
    width: 90px;
    text-align: center;
}

/*==================details==================*/

.project-details {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background);
    border-radius: 5px;
}

.project-details-title {
    font-size: 24px;
    color: var(--text);
    margin-bottom: 10px;
}


.project-details-subtitle {
    font-size: 20px;
    color: var(--text);
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-details-task-list {
    list-style: none;
    padding-left: 0;
}

.project-details-task {
    font-size: 16px;
    color: var(--text);
    margin-bottom: 5px;
}

.project-details-no-tasks {
    font-size: 14px;
    color: #777;
}

.project-details-task-content.before {
    position: relative;
    width: 50%;
    overflow: hidden;
    background: #4679BD;
}

.project-details-task-content {
    background: #528cd5;
    margin-bottom: 15px;
}

.project-details-task.before {
    content: "";
    display: block;
    padding-top: 100%;
}

.project-details-task {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

/* Task status styles */
.project-details-task.pending .project-details-task-content {
    background: #c50404;
}

.project-details-task.in_progress .project-details-task-content {
    background: #ea9f14;
}

.project-details-task.complete .project-details-task-content {
    background: green;
}

.project-details-task-hover {

    transform: scale(1.1);
    background-color: lightgray;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

}

.add-button, .edit-project-button {
    background-color: #304245;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.add-button:hover, .edit-project-button {
    background-color: #453042;
}


.project-details-buttons {
    justify-content: left;
    margin: 0;
    position: relative;
    padding-top: 10px;
}

.task-details-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    padding: 20px;
    width: 60%;
    max-width: 600px;
    border-radius: 4px;
    z-index: 9999; /* Add this line to ensure the modal is on top of other elements */
}

.task-details-modal.pending {
    background-color: #e1cdcd; /* Set the background color for the "pending" status */
}

.task-details-modal.in_progress {
    background-color: #ffefd6; /* Set the background color for the "in_progress" status */
}

.task-details-modal.complete {
    background-color: #cdf6d5; /* Set the background color for the "completed" status */
}

.task-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998; /* Decrease the z-index value to be below the modal */
}

.task-details-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* Adjust the styles for the buttons to ensure consistent appearance */
.edit-button,
.status-button,
.complete-button,
.add-comment-button {
    padding: 8px 16px;
    border: none;
    background-color: #4679bd;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Add a hover effect for the buttons */
.edit-button:hover,
.status-button:hover,
.complete-button:hover,
.add-comment-button {
    background-color: #3d6da9;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.delete-button img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.delete-button:hover img {
    transform: scale(1.2);
}

.edit-button:hover,
.status-button:hover,
.complete-button:hover,
.add-comment-button {
    background-color: #528cd5;
}

.edit-button:focus,
.status-button:focus,
.complete-button:focus,
.add-comment-button {
    outline: none;
}

.task-details-buttons {
    padding-bottom: 20px;
}

.sign-out-button {
    padding: 8px 12px;
    background-color: var(--accent2);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*dashed border icon animations*/

.circle-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
}

.icon {
    position: absolute;
    color: #fff;
    font-size: 55px;
    top: 55px;
    left: 55px;
    transform: translate(-50%, -50%);
}

.circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    animation: spin 10s linear infinite;
}

.circle-wrapper:active .circle {
    animation: spin 2s linear infinite;
}

.success {
    background-color: #4BB543;
    border: 2.5px dashed #4BB543;
}

.error {
    background-color: #CA0B00;
    border: 2.5px dashed #CA0B00;
}

.warning {
    background-color: #F0D500;
    border: 2.5px dashed #F0D500;
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

.page-wrapper {
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Header*/

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
}

.header {
    text-decoration: none;
    color: black;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.welcome-text {
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px
}

.sign-out-button {
    margin-left: 10px;
    margin-right: 20px;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-table th,
.comment-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.comment-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.comment-table .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-table .comment-author {
    display: flex;
    align-items: center;
}

.comment-table .comment-content {
    max-width: 500px;
    word-break: break-word;
}

.project-details-container {
    display: flex;
    align-items: flex-start;
}

.project-details-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-details-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.project-details-date {
    font-size: 14px;
    margin-bottom: 5px;
}

.project-details-buttons {
    margin-top: 10px;
}


.footer {
    margin-top: 50px;
}

.project-details-task-content {
    display: flex;
    align-items: center;
}

.project-details-task-content .avatar {
    margin-right: 10px;
    margin-left: 40px;
}

.task-details-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.task-details-task-status {
    width: 30%;
}

.task-header {
    font-size: 30px;
    font-weight: bold;
}

.author-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.author-label {
    margin-right: 10px;
}

.name-surname {
    margin-left: 10px;
}