/* Styl dla sekcji nagłówka */
header {
    background-color: #f2f2f2;
    padding: 10px;
}

.header {
    color: #333;
    text-decoration: none;
    font-size: 44px;
}

/* Styl dla nawigacji */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #f2f2f2;
}

.error {
    color: red;
}

.loading {
    color: gray;
}

.no-projects {
    color: blue;
}

.project-list-title {
    font-size: 24px;
    color: #333;
}

.project-list {
    margin-top: 20px;
}

.project-table {
    width: 100%;
    border-collapse: collapse;
}

.project-table th,
.project-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.project-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.project-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.project-table tr:hover {
    background-color: #f5f5f5;
}

.project-table td {
    color: #333;
}

.section-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.section-buttons .button-add {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

/* Add styles for links within the project table */
.project-table a {
    text-decoration: none;
    color: inherit;
}

.project-table tbody tr:hover {
    cursor: pointer;
}

.th-settings {
    width: 90px;
    text-align: center;
}

/*==================details==================*/

.project-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.project-details-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.project-details-description {
    font-size: 16px;
    color: #555;
}

.project-details-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.project-details-subtitle {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-details-task-list {
    list-style: none;
    padding-left: 0;
}

.project-details-task {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.project-details-no-tasks {
    font-size: 14px;
    color: #777;
}

.project-details-task-content.before {
    position: relative;
    width: 50%;
    overflow: hidden;
    background: #4679BD;
}

.project-details-task-content {
    background: #528cd5;
}

.project-details-task.before {
    content: "";
    display: block;
    padding-top: 100%;
}

.project-details-task {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

/* Task status styles */
.project-details-task.pending .project-details-task-content {
    background: #c50404;
}

.project-details-task.in_progress .project-details-task-content {
    background: #ea9f14;
}

.project-details-task.complete .project-details-task-content {
    background: green;
}

.project-details-task-hover {

    transform: scale(1.1);
    background-color: lightgray;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

}

.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.add-button:hover {
    background-color: #45a049;
}

.edit-project-button {
    background-color: #ffa700;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.project-details-buttons {
    justify-content: center;
    margin: 0;
    position: relative;
}

/*modal*/

.task-details-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    padding: 20px;
    width: 60%;
    max-width: 600px;
    border-radius: 4px;
}

.task-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #171717;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-details-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.edit-button,
.status-button,
.complete-button {
    padding: 8px 16px;
    border: none;
    background-color: #4679BD;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.edit-button:hover,
.status-button:hover,
.complete-button:hover {
    background-color: #528cd5;
}

.edit-button:focus,
.status-button:focus,
.complete-button:focus {
    outline: none;
}



